<!-- ---
export let search = ''
export let setSearch = (val: string) => {}
---

<div class="bg-yellow-400 p-4 text-center rounded-lg shadow-md">
  <input
    type="text"
    placeholder="Buscar por nombre..."
    class="p-2 rounded-lg border border-gray-300 w-full"
    value={search}
  />
</div> -->
