---
// src/pages/index.astro
// import AnimeList from '../components/AnimeList'
// import FranquiciaList from '../components/FranquiciaList'
import FranchisePage from '../components/FranchisePage'
import '../styles/global.css'
---

<html>
  <head>
    <title>What Damn Anime Watch</title>
  </head>
  <body class="bg-blue-100">
    <FranchisePage client:visible />
  </body>
</html>
