---
// src/pages/index.astro
import AnimeList from '../components/AnimeList'
import '../styles/global.css'
---

<html>
  <head>
    <title>What Damn Anime Watch</title>
  </head>
  <body class="bg-blue-100">
    <div class="mx-auto p-3">
      <h1 class="text-center text-3xl font-bold text-gray-900 mb-6">Lista de Animes</h1>
      <AnimeList client:load />
    </div>
  </body>
</html>
